.block-form{ width: 70%; float: left; }
.block-demo{ width: 30%; float: left; }

#EasyFacebookPostFeed{ border: 1px solid #0052ae; overflow: auto; min-width: 250px; height: auto; }
#EasyFacebookPostFeed h5{ background-image:url('../images/facebook-icon.png'); background-repeat:no-repeat; background-position:5px 10px; color: #FFF; margin: 0; font-size: 12px; padding: 10px 10px 10px 30px; text-transform: uppercase; }
#EasyFacebookPostFeed ul{ margin: 0; list-style-type: none; }
#EasyFacebookPostFeed ul li{ border-bottom: 1px dotted #CCC; min-height: 150px; }
#EasyFacebookPostFeed ul li a{ text-decoration: none; }
#EasyFacebookPostFeed ul li p{ padding: 0 15px; }
#EasyFacebookPostFeed ul li p .readmore{ float: right; color: #000000; margin-bottom: 15px; }